@model IEnumerable<Appt_Scheduler.Models.DoctorAvailability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvailDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvailDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
