@model Appt_Scheduler.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApptDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApptDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApptTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApptTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <div>
        <a asp-action="PatientAppointments" asp-route-patientId="@Model.PatientId">Back to List</a>
    </div>
</div>
