@model IEnumerable<Appt_Scheduler.Models.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEANumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEANumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />

<div class="mt-4">
    <a asp-controller="Home" asp-action="Admin" class="btn btn-secondary">Return to Admin Page</a>
</div>